.card-body-icon{
    position:absolute;
    z-index: 0;
    top:15px;
    right: 4px;
    opacity: 0.4;
    font-size: 90px;
}

@media (max-width:526px){
    .card-body-icon{
        position:absolute;
        z-index: 0;
        top:5px;
        right: 20px;
        opacity: 0.4;
        font-size: 70px;
    }
}