body {
   background: lightgreen;
}
.login-box {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 400px;
    width: 400px;
    background: azure;
 }
.header-login{
    background: blue;
    padding: 20px;
}
@media (max-width:400px){
   .login-box{
       width: 90%;
   }
}